<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="UsilForLiveConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UsilForLive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UsilForLiveConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UsilForLive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UsilForLiveConnectionString3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UsilForLive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UsilForLiveListaDeProfesoresU" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UsilForLive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UsilForLiveConeccionElegirProfe" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UsilForLive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>