body {
    font-family: Verdana;
    
    height: 100%;
}


    body > form > div {
        height: 0px;
    }


header {
    border-bottom: 1px solid black;
    height: 75px;
}

#izquierda {
    float: left;
    width: 30%;
}

#derecha {
    margin-left: 30%;
    text-align: right;
    padding-top: 25px;
    padding-right: 70px;
    
}




#derecha > a, #derecha > label > select {
    font-family: Verdana;
    border: none;
    outline: 0px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

#logo {
    height: 75px;
    width: 190px;
    padding-left: 70px;
}

.both {
    clear: both;
    border: 1px solid black;
}

#contenedor {
    overflow: hidden;
    width: 100%;
    background-color: #003057;
    color: white;
}


#footer1{
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 200px;
    width: 100%;
    clear: both;
  
}

.footermenu {
    float: left;
    width: 24.5%;
    text-align: center;
    
}

    .footermenu > h1 {
        font-size: 15px;
        font-weight: normal;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footermenu > ul > li {
        text-align: left;
        font-size: 14px;
    }

        .footermenu > ul > li > a {
            text-decoration: none;
            cursor: pointer;
            color: white;
        }

#copy {
    border: 1px solid #3c9cea;
    background-color: #003057;
    color: white;
    font-size: 14px;
    text-align: center;
}



/* LOGIN -----------------------------------------------------------------------------------------*/
#lol {
    width: 100%;
}
#REnaci {
    float: left;
    width: 50%;
    text-align:center;
}
#REnaci2 {
    text-align: center;
}

#REgrado {
    border-left: 2px solid black;
    margin-left: 54%;
    text-align: center;
}
/*  -----------------------------------------------------------------------------------------*/

/*----------INDEX--------------------------------------------------------------------------------------*/
#imagen {
    text-align: center;

}

#imagen #prueba1 {
        height: 450px;
        width: 100%;
        /*  border-bottom: 20px solid #3c9cea;
        border-top: 20px solid #3c9cea;*/
}

#mitad2 {
    width: 100%;
    height: 340px;
    margin: 5px 0px;
}

    #mitad2 #vision1 {
        float: left;
        width: 50%;
        text-align: center;
        height: 340px;
        border: 1px solid red;
    }

    #mitad2 #vision2 {
        margin-left: 50%;
        height: 340px;
        border: 1px solid red;
    }
/*
        #mitad2 #vision2 .lado1 {
            margin-top: 20px;
            text-align: left;
            width: 100px;
            height: 40px;
        }
        #mitad2 #vision2 #lado2 {
            margin-top: 40px;
            text-align: right;
            width: 100px;
            height: 40px;
        }
    */

#contenedor1 {
    width: 43%;
    height: 300px;
    float: left;
    border: 1px solid red;
    margin: 10px 10px 10px 40px;
}

#contenedor2 {
    height: 300px;
    border: 1px solid red;
    margin: 10px 0px 10px 55%;
}

#vision1 > img {
    width:60%;
}
a {
    text-decoration: none;
    color: #003057;
}

.contenidotitulo {
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    color: black;
}

.cuadro1 {
    background-color: #A6ADCB;
    padding: 10px;
    margin: 15px 15px 15px 15px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.RazonesClass {
    width: 32%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}
.RazonesClass span {
    font-weight: bold;
    font-size: 24px;
}

.RazonesClass p {
    font-size: 20px;
    text-align: justify;
}
/*----------PAGINA DE PERFIL-------------------------------------------------------------------------------------*/
#izquierdaperfil {
    float: left;
    width: 25%;
}

#derechaperfil {
    margin-left: 25%;
}

.menu {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 1px 5px 6px 6px;
    height: 650px;
}

    .menu h4 {
        background-color: #003057;
        color: #fff;
        padding: 8px;
        border-radius: 3px;
    }

    .menu ul {
        padding-left: 20px;
        margin: 0;
    }

    .menu li {
        list-style-type: none;
        padding: 5px;
    }

        .menu li > a {
            text-decoration: none;
        }

#foto {
    text-align: center;
}

    #foto > img {
        height: 150px;
        width: 150px;
    }

.iconos > div > img {
    height: 100px;
    width: 100px;
}

/*----------Contactanos---------------------*/


#banner {
    background-image: url(https://estudiacurso.com/wp-content/2013/09/estudiar-ingles-poco-dinero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1407px;
    
    min-height: 100%;
    position: relative;
    
}
    #banner #contactanos {
        width: 1407px;
        height: 250px;
        /*background-color: #3c9cea;*/
        border: 1px solid red;
    }

#contactanos #num1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #1cc495;
    padding: 10px;

}

#contactanos #num2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #1cc495;
    padding: 10px;

}


#banner #formulario{
    width: 1407px;
    height: 695px;
    border: 1px solid red;
    
}
#formulario #paraform{
    padding: 10px;
}
.form1 {
    border: 1px solid #A6ADCB;
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    padding: 0px 17px;
    background-color: white;
}


#boton1{
    padding: 10px;
    margin-top: 20px;
    margin-left: 670px;

}


/*Iniciar Sesion--------------------------------------------------------------------------*/
#Lcaja {
    margin: auto;
    height: 700px;
    background: url(http://www.latinoaustralia.com/public/images/images_upload_comunicaciones/internationalstudies/destinos/australia/Cursos-de-Ingles_3.jpg) no-repeat center center;
    background-size: cover;
    border: 1px solid #808080;
}
#Lizquierda {
    float: left;
    width: 49%;
}
#Lderecha {
    margin-left: 50%;
}
.sostiene {
    clear:both;
}
#Rnombre >p{
    margin-top:0px;
}
#Rnombre {
    float: left;
    width: 49%;
}
#Rapellido {
    margin-left: 50%;
}
#RmaestroCd {
    margin: auto;
    margin-top: 23px;
    width: 70%;
    border: 2px solid black;
    padding-left: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 22px;
    box-shadow: 0 16px 68px #666666;
}
#Lcaja-login {
    margin: auto;
    margin-top: 138px;
    width: 50%;
    border: 2px solid black;
    padding-left: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 22px;
    box-shadow: 0 16px 68px #666666;
}
#Lboton {
    margin-top: 10px;
    height: 40px;
    background: #1AAE88;
    border: 0;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    margin-left: 25%;
    width: 50%;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align:center;
}
#Linput > input,#Linput>div>div>input {
    display: block;
    width: 92%;
    height: 34px;
    padding-left: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-rendering: auto;
}
#LbotonB {
    padding-top: 10px;
}


/*-------------------PERFIL------------------------------------------*/
#izquierdaperfil {
    float: left;
    width: 25%;
}

#derechaperfil {
    margin-left: 25%;
}

.menu {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 1px 5px 6px 6px;
    height: 650px;
}

    .menu h4 {
        background-color: #003057;
        color: #fff;
        padding: 8px;
        border-radius: 3px;
    }

    .menu ul {
        padding-left: 20px;
        margin: 0;
    }

    .menu li {
        list-style-type: none;
        padding: 5px;
    }

        .menu li > a {
            text-decoration: none;
        }

#foto {
    text-align: center;
}

    #foto > img {
        height: 150px;
        width: 150px;
    }

.iconos > div > img {
    height: 100px;
    width: 100px;
}

/*RAZONES PARA ESTUDIAR INGLES*/
.razonesImg1{
    border:1px solid blue;
    width:30%;
    float:left;
    margin:0px;
    text-align:center;
    margin-top:5px;
}
.razonesImg1 > img{
    width:90px;
}
.razonesTexto1 {
    border: 1px solid green;
    margin-left: 30%;
   
}

.col1Razones {
    border: 1px solid red;
    width: 50%;
    float: left;
}

.col2Razones {
    border: 1px solid black;
    margin-left:50%;
}

.razonC {
    width: 100%;
    border: 1px solid black;
    margin:0px 50px;
}
.contenedorPortada{
    width:100%;
    border:2px solid red;
}